.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-interactive-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-interactive-navlink {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-navlink:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-navlink1 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink1:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink2 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink2:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink3 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink3:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}


.navbar-interactive-root-class-name3 {
  width: 100%;
}
.navbar-interactive-root-class-name4 {
  width: 100%;
}
.navbar-interactive-root-class-name5 {
  width: 100%;
}
.navbar-interactive-root-class-name6 {
  width: 100%;
}
.navbar-interactive-root-class-name7 {
  width: 100%;
}
.navbar-interactive-root-class-name8 {
  width: 100%;
}
.navbar-interactive-root-class-name9 {
  width: 100%;
}
.navbar-interactive-root-class-name10 {
  width: 100%;
}
.navbar-interactive-root-class-name11 {
  width: 100%;
}
.navbar-interactive-root-class-name12 {
  width: 100%;
}
.navbar-interactive-root-class-name13 {
  width: 100%;
}
.navbar-interactive-root-class-name14 {
  width: 100%;
}
.navbar-interactive-root-class-name15 {
  width: 100%;
}
@media(max-width: 991px) {
  .navbar-interactive-navbar-interactive {
    width: 990px;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    width: 766px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-container {
    z-index: 1;
    position: fixed;
  }
  .navbar-interactive-navbar-interactive {
    width: 470px;
    padding: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    padding-right: 16px;
    background-color: var(--dl-color-gray-white);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-nav2 {
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navbar-interactive-navlink5 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink6 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink7 {
    font-size: 2em;
    text-align: right;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: 120px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}
.footer-text01 {
  padding-right: var(--dl-space-space-fiveunits);
}
.footer-navlink {
  display: contents;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.footer-text02 {
  color: var(--dl-color-primary-100);
  width: 100%;
  font-size: 28px;
  font-style: italic;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 18px;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text03 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text04 {
  width: auto;
  font-style: normal;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text05 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-text06 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text07 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text08 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text09 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text10 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text11 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text12 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text13 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text14 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Josefin Sans;
  line-height: 21px;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name2 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name3 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name4 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name5 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name7 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name8 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name9 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name10 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name11 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name12 {
  margin-top: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    margin-bottom: var(--dl-space-space-fourunits);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .footer-information {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-bottom: -20px;
  }
  .footer-text01 {
    margin-top: -10px;
    margin-bottom: -30px;
  }
  .footer-text02 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer-container {
    width: 50%;
    flex-direction: row;
  }
  .footer-container1 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container2 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container3 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: flex;
  }
  .footer-root-class-name {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name2 {
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name7 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name8 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name9 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name10 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name11 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
}

.currculum-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.currculum-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.currculum-container02 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-100);
}
.currculum-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 500px;
  align-self: center;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.currculum-text {
  font-size: 150px;
  text-align: left;
}
.currculum-text02 {
  color: var(--dl-color-gray-white);
}
.currculum-text03 {
  font-size: 20px;
}
.currculum-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-twounits);
  align-self: flex-end;
}
.currculum-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.currculum-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.currculum-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-text10 {
  font-size: 4rem;
  padding-left: 0px;
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.currculum-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.currculum-container08 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  animation-name: fadeInRight;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  animation-delay: 0s;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  animation-duration: 300ms;
  border-right-width: 0px;
  animation-direction: normal;
  border-bottom-width: 0px;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.currculum-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-icon02 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.currculum-text11 {
  font-size: 3rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.currculum-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.currculum-text12 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text13 {
  color: var(--dl-color-primary-100);
  font-weight: 700;
}
.currculum-text14 {
  font-style: normal;
  font-weight: 100;
}
.currculum-text16 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text17 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container11 {
  display: flex;
  position: relative;
}
.currculum-navlink {
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.currculum-text18 {
  transition: 0.3s;
  font-family: "Josefin Sans";
  padding-right: var(--dl-space-space-halfunit);
}
.currculum-text18:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.currculum-icon04 {
  width: 24px;
  height: 24px;
}
.currculum-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.currculum-container13 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.currculum-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-icon06 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.currculum-text19 {
  font-size: 3em;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.currculum-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.currculum-text20 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text21 {
  color: var(--dl-color-primary-100);
  font-weight: 700;
}
.currculum-text22 {
  font-style: normal;
  font-weight: 100;
}
.currculum-text24 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text25 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.currculum-container17 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.currculum-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-icon08 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.currculum-text26 {
  font-size: 3rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.currculum-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.currculum-text27 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text28 {
  color: var(--dl-color-primary-100);
  font-weight: 700;
}
.currculum-text29 {
  font-style: normal;
  font-weight: 100;
}
.currculum-text31 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text32 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container20 {
  display: flex;
  position: relative;
}
.currculum-navlink1 {
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.currculum-text33 {
  transition: 0.3s;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-halfunit);
}
.currculum-text33:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.currculum-icon10 {
  width: 24px;
  height: 24px;
}
.currculum-navlink2 {
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.currculum-text34 {
  transition: 0.3s;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-halfunit);
}
.currculum-text34:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.currculum-icon12 {
  width: 24px;
  height: 24px;
}
.currculum-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.currculum-container22 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.currculum-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-icon14 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.currculum-text35 {
  font-size: 3rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.currculum-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.currculum-text36 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text37 {
  color: var(--dl-color-primary-100);
  font-weight: 700;
}
.currculum-text38 {
  font-style: normal;
  font-weight: 100;
}
.currculum-text40 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text41 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.currculum-container26 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.currculum-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-icon16 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.currculum-text42 {
  font-size: 3rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.currculum-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.currculum-text43 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text44 {
  color: var(--dl-color-primary-100);
  font-weight: 700;
}
.currculum-text45 {
  font-style: normal;
  font-weight: 100;
}
.currculum-text47 {
  font-size: 18px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text48 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.currculum-container30 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.currculum-container31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-icon18 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.currculum-text49 {
  font-size: 3rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.currculum-text50 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.currculum-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.currculum-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-text51 {
  font-size: 4rem;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.currculum-text52 {
  font-size: 22px;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container35 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text53 {
  width: 60%;
  font-size: 22px;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text54 {
  width: 40%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container36 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text55 {
  width: 60%;
  font-size: 22px;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text56 {
  width: 40%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text59 {
  width: 60%;
  font-size: 22px;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text64 {
  width: 40%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container38 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.currculum-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.currculum-container40 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.currculum-text67 {
  font-size: 4rem;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.currculum-text68 {
  font-size: 22px;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container41 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text69 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text70 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container42 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text71 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text72 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container43 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text73 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text74 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container44 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text75 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text76 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container45 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text77 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text78 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container46 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text79 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text80 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-container47 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.currculum-text81 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.currculum-text82 {
  width: 50%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
@media(max-width: 1200px) {
  .currculum-text03 {
    font-size: 20px;
  }
  .currculum-link1 {
    text-decoration: underline;
  }
  .currculum-container07 {
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .currculum-container08 {
    animation-name: none;
  }
  .currculum-text17 {
    font-size: 22px;
  }
  .currculum-text41 {
    font-size: 22px;
  }
  .currculum-text55 {
    font-size: 22px;
  }
  .currculum-text59 {
    font-size: 22px;
    font-weight: 700;
  }
  .currculum-text62 {
    font-weight: 300;
  }
  .currculum-text69 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text70 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text71 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text72 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text73 {
    font-size: 22px;
  }
  .currculum-text74 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text75 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text76 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text77 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text78 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text80 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text81 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .currculum-text82 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
}
@media(max-width: 767px) {
  .currculum-container10 {
    flex-direction: column;
  }
  .currculum-text12 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .currculum-text17 {
    font-size: 22px;
  }
  .currculum-container15 {
    flex-direction: column;
  }
  .currculum-text20 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .currculum-container19 {
    flex-direction: column;
  }
  .currculum-text27 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .currculum-container24 {
    flex-direction: column;
  }
  .currculum-text36 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .currculum-container28 {
    flex-direction: column;
  }
  .currculum-text43 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .currculum-container01 {
    margin-top: 0px;
    padding-top: 0px;
  }
  .currculum-container02 {
    width: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .currculum-text {
    font-size: 4rem;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .currculum-container04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .currculum-text10 {
    font-size: 3rem;
  }
  .currculum-text11 {
    font-size: 2rem;
  }
  .currculum-text19 {
    font-size: 2rem;
  }
  .currculum-text26 {
    font-size: 2rem;
  }
  .currculum-container20 {
    flex-direction: column;
  }
  .currculum-navlink1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .currculum-navlink2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .currculum-text35 {
    font-size: 2rem;
  }
  .currculum-text42 {
    font-size: 2rem;
  }
  .currculum-text49 {
    font-size: 2rem;
  }
  .currculum-container32 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .currculum-text51 {
    font-size: 3rem;
  }
  .currculum-container38 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .currculum-text67 {
    font-size: 3rem;
  }
}
