.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-interactive-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-interactive-navlink {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-navlink:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-navlink1 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink1:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink2 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink2:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink3 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink3:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}


.navbar-interactive-root-class-name3 {
  width: 100%;
}
.navbar-interactive-root-class-name4 {
  width: 100%;
}
.navbar-interactive-root-class-name5 {
  width: 100%;
}
.navbar-interactive-root-class-name6 {
  width: 100%;
}
.navbar-interactive-root-class-name7 {
  width: 100%;
}
.navbar-interactive-root-class-name8 {
  width: 100%;
}
.navbar-interactive-root-class-name9 {
  width: 100%;
}
.navbar-interactive-root-class-name10 {
  width: 100%;
}
.navbar-interactive-root-class-name11 {
  width: 100%;
}
.navbar-interactive-root-class-name12 {
  width: 100%;
}
@media(max-width: 991px) {
  .navbar-interactive-navbar-interactive {
    width: 990px;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    width: 766px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-container {
    z-index: 1;
    position: fixed;
  }
  .navbar-interactive-navbar-interactive {
    width: 470px;
    padding: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    padding-right: 16px;
    background-color: var(--dl-color-gray-white);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-nav2 {
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navbar-interactive-navlink5 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink6 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink7 {
    font-size: 2em;
    text-align: right;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 120px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}
.footer-text1 {
  padding-right: var(--dl-space-space-fiveunits);
}
.footer-navlink {
  display: contents;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.footer-text2 {
  color: var(--dl-color-primary-100);
  width: 100%;
  font-size: 28px;
  font-style: italic;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 18px;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text3 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text4 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text5 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text6 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text7 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text8 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Josefin Sans;
  line-height: 21px;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name2 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name3 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name4 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name5 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name7 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name8 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name9 {
  margin-top: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    margin-bottom: var(--dl-space-space-twounits);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .footer-information {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-bottom: -20px;
  }
  .footer-text1 {
    margin-top: -10px;
    margin-bottom: -30px;
  }
  .footer-text2 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer-container {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-root-class-name {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name2 {
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name7 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name8 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name9 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
}

.genially-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.genially-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.genially-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.genially-navlink {
  padding-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.genially-text {
  padding-right: var(--dl-space-space-halfunit);
}
.genially-navlink1 {
  padding-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.genially-text01 {
  padding-right: var(--dl-space-space-halfunit);
}
.genially-text02 {
  color: var(--dl-color-primary-red);
  font-style: normal;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.genially-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.genially-container04 {
  flex: 0 0 auto;
  width: Large;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.genially-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.genially-container05 {
  flex: 0 0 auto;
  width: 966px;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text03 {
  color: var(--dl-color-primary-red);
  font-size: 130px;
  margin-top: var(--dl-space-space-sixunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-twounits);
}
.genially-text04 {
  width: 50%;
  font-size: 22px;
}
.genially-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-primary-red);
}
.genially-container07 {
  flex: 1;
  width: 30%;
  height: 677px;
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
}
.genially-text05 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.genially-text06 {
  font-size: 22px;
  padding-top: var(--dl-space-space-halfunit);
}
.genially-container08 {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.genially-text07 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: var(--dl-space-space-unit);
}
.genially-text08 {
  font-size: 22px;
}
.genially-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.genially-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text09 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.genially-text10 {
  font-size: 18px;
  line-height: 1.7;
  padding-left: var(--dl-space-space-twounits);
}
.genially-container11 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text21 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.genially-text22 {
  font-size: 18px;
  line-height: 1.7;
  padding-left: var(--dl-space-space-twounits);
}
.genially-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.genially-container13 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text32 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.genially-text33 {
  font-size: 18px;
  line-height: 1.7;
  padding-left: var(--dl-space-space-twounits);
}
.genially-container14 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text41 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.genially-text42 {
  font-size: 18px;
  line-height: 1.7;
  padding-left: var(--dl-space-space-twounits);
}
.genially-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.genially-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: row;
  justify-content: center;
}
.genially-container17 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text47 {
  color: rgba(255, 126, 126, 0.23);
  font-size: 130px;
  transform: rotate(90deg);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-twounits);
}
.genially-container18 {
  flex: 0 0 auto;
  width: 85%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.genially-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text48 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.genially-text49 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
}
.genially-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text50 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.genially-text51 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
}
.genially-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.genially-text52 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.genially-text53 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
}
@media(max-width: 479px) {
  .genially-container01 {
    padding-top: var(--dl-space-space-unit);
  }
  .genially-container03 {
    flex-direction: column;
  }
  .genially-container04 {
    align-items: flex-start;
    flex-direction: column;
  }
  .genially-image {
    width: var(--dl-size-size-medium);
  }
  .genially-container05 {
    width: 100%;
    margin-top: -90px;
    flex-direction: column;
  }
  .genially-text03 {
    font-size: 4em;
    margin-top: var(--dl-space-space-unit);
  }
  .genially-text04 {
    width: 90%;
  }
  .genially-container06 {
    flex-direction: column;
  }
  .genially-container07 {
    width: 100%;
    height: auto;
  }
  .genially-container08 {
    width: 100%;
    margin-top: var(--dl-space-space-fiveunits);
  }
  .genially-text07 {
    font-size: 3em;
  }
  .genially-text08 {
    padding-bottom: var(--dl-space-space-twounits);
  }
  .genially-container09 {
    flex-direction: column;
  }
  .genially-container10 {
    width: 100%;
  }
  .genially-container11 {
    width: 100%;
  }
  .genially-container12 {
    flex-direction: column;
  }
  .genially-container13 {
    width: 100%;
  }
  .genially-container14 {
    width: 100%;
  }
  .genially-container15 {
    padding: var(--dl-space-space-twounits);
  }
  .genially-container16 {
    flex-direction: column;
  }
  .genially-container17 {
    width: 100%;
    align-items: flex-end;
  }
  .genially-text47 {
    align-self: flex-end;
    margin-right: -50px;
  }
  .genially-container18 {
    width: 100%;
  }
  .genially-text48 {
    font-size: 3em;
  }
  .genially-text50 {
    font-size: 3em;
  }
  .genially-text52 {
    font-size: 3em;
  }
}
