.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-interactive-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-interactive-navlink {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-navlink:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-navlink1 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink1:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink2 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink2:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink3 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink3:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}


.navbar-interactive-root-class-name3 {
  width: 100%;
}
.navbar-interactive-root-class-name4 {
  width: 100%;
}
.navbar-interactive-root-class-name5 {
  width: 100%;
}
.navbar-interactive-root-class-name6 {
  width: 100%;
}
.navbar-interactive-root-class-name7 {
  width: 100%;
}
.navbar-interactive-root-class-name8 {
  width: 100%;
}
.navbar-interactive-root-class-name9 {
  width: 100%;
}
.navbar-interactive-root-class-name10 {
  width: 100%;
}
.navbar-interactive-root-class-name11 {
  width: 100%;
}
.navbar-interactive-root-class-name12 {
  width: 100%;
}
.navbar-interactive-root-class-name13 {
  width: 100%;
}
.navbar-interactive-root-class-name14 {
  width: 100%;
}
.navbar-interactive-root-class-name15 {
  width: 100%;
}
@media(max-width: 991px) {
  .navbar-interactive-navbar-interactive {
    width: 990px;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    width: 766px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-container {
    z-index: 1;
    position: fixed;
  }
  .navbar-interactive-navbar-interactive {
    width: 470px;
    padding: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    padding-right: 16px;
    background-color: var(--dl-color-gray-white);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-nav2 {
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navbar-interactive-navlink5 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink6 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink7 {
    font-size: 2em;
    text-align: right;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: 120px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}
.footer-text01 {
  padding-right: var(--dl-space-space-fiveunits);
}
.footer-navlink {
  display: contents;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.footer-text02 {
  color: var(--dl-color-primary-100);
  width: 100%;
  font-size: 28px;
  font-style: italic;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 18px;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text03 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text04 {
  width: auto;
  font-style: normal;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text05 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-text06 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text07 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text08 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text09 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text10 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text11 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text12 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text13 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text14 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Josefin Sans;
  line-height: 21px;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name2 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name3 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name4 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name5 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name7 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name8 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name9 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name10 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name11 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name12 {
  margin-top: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    margin-bottom: var(--dl-space-space-fourunits);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .footer-information {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-bottom: -20px;
  }
  .footer-text01 {
    margin-top: -10px;
    margin-bottom: -30px;
  }
  .footer-text02 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer-container {
    width: 50%;
    flex-direction: row;
  }
  .footer-container1 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container2 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container3 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: flex;
  }
  .footer-root-class-name {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name2 {
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name7 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name8 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name9 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name10 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name11 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
}

.seo-tecnico-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.seo-tecnico-hero {
  gap: var(--dl-space-space-threeunits);
  color: var(--dl-color-gray-black);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-red);
  border-width: 2px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-gray-white);
}
.seo-tecnico-container01 {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.seo-tecnico-content {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.seo-tecnico-text {
  color: var(--dl-color-gray-black);
  font-size: 5em;
  font-style: normal;
  font-weight: 700;
}
.seo-tecnico-text01 {
  color: var(--dl-color-primary-red);
  font-size: 3em;
  margin-top: -20px;
  margin-bottom: 20px;
}
.seo-tecnico-text02 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
  margin-top: -20px;
}
.seo-tecnico-navlink {
  color: var(--dl-color-gray-white);
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  border-color: var(--dl-color-primary-red);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-tecnico-text03 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-tecnico-text03:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-tecnico-icon {
  width: 24px;
  height: 24px;
}
.seo-tecnico-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.seo-tecnico-container03 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.seo-tecnico-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-tecnico-container05 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.seo-tecnico-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text04 {
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
}
.seo-tecnico-text06 {
  color: var(--dl-color-primary-red);
}
.seo-tecnico-container07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.seo-tecnico-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-tecnico-container09 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-red);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-tecnico-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-tecnico-icon02 {
  fill: var(--dl-color-primary-red);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-tecnico-text08 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-text09 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-tecnico-container12 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-red);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-tecnico-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-tecnico-icon04 {
  fill: var(--dl-color-primary-red);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-tecnico-text10 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-text11 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-tecnico-container15 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-red);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-tecnico-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-tecnico-icon06 {
  fill: var(--dl-color-primary-red);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-tecnico-text12 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-text13 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-tecnico-container18 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-red);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-tecnico-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-tecnico-icon08 {
  fill: var(--dl-color-primary-red);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-tecnico-text14 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-text15 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-navlink1 {
  color: var(--dl-color-primary-red);
  font-weight: 700;
  text-decoration: underline;
}
.seo-tecnico-navlink2 {
  color: var(--dl-color-primary-red);
  font-weight: 700;
  text-decoration: underline;
}
.seo-tecnico-mission {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 90px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 90px;
  background-color: var(--dl-color-primary-red);
  border-left-width: 0px;
  border-right-width: 0px;
}
.seo-tecnico-text19 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
}
.seo-tecnico-text21 {
  color: var(--dl-color-gray-white);
}
.seo-tecnico-text22 {
  color: var(--dl-color-gray-black);
}
.seo-tecnico-text23 {
  font-size: 22px;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-navlink3 {
  display: flex;
  transition: 0.3s;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-tecnico-text24 {
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-tecnico-text24:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-tecnico-icon10 {
  width: 24px;
  height: 24px;
}
.seo-tecnico-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.seo-tecnico-container21 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.seo-tecnico-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.seo-tecnico-text25 {
  color: var(--dl-color-primary-red);
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-tecnico-text26 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}
.seo-tecnico-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.seo-tecnico-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container25 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon12 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text27 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container28 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon14 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text28 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container31 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon16 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text29 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container34 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon18 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text30 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container37 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon20 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container38 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text31 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container40 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon22 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container41 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text32 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-container42 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container43 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon24 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container44 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text33 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-tecnico-container46 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-icon26 {
  fill: var(--dl-color-primary-red);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-tecnico-container47 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-text34 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-tecnico-navlink4 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  border-color: var(--dl-color-primary-red);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-tecnico-text35 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-tecnico-text35:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-tecnico-icon28 {
  fill: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
}
.seo-tecnico-container48 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-image {
  width: 100%;
  height: 620px;
  object-fit: cover;
}
.seo-tecnico-banner {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-tecnico-container49 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-primary-red);
}
.seo-tecnico-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.seo-tecnico-title {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 4em;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-weight: 700;
  line-height: 46px;
}
.seo-tecnico-button {
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-tecnico-text38 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-tecnico-text38:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-tecnico-icon30 {
  fill: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
  border-color: var(--dl-color-primary-red);
  border-width: 1px;
}
.seo-tecnico-container51 {
  display: contents;
}
@media(max-width: 991px) {
  .seo-tecnico-hero {
    gap: var(--dl-space-space-threeunits);
    height: auto;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .seo-tecnico-mission {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .seo-tecnico-text19 {
    font-size: 18px;
    text-align: center;
    line-height: 23px;
  }
  .seo-tecnico-banner {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .seo-tecnico-mission {
    align-items: center;
  }
}
@media(max-width: 479px) {
  .seo-tecnico-hero {
    height: auto;
    max-width: auto;
  }
  .seo-tecnico-container01 {
    width: 100%;
  }
  .seo-tecnico-content {
    height: auto;
  }
  .seo-tecnico-text {
    font-size: 3em;
  }
  .seo-tecnico-navlink {
    align-self: flex-start;
  }
  .seo-tecnico-text03 {
    font-family: Josefin Sans;
  }
  .seo-tecnico-container02 {
    height: auto;
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .seo-tecnico-container03 {
    flex-direction: column;
  }
  .seo-tecnico-container05 {
    width: 420px;
  }
  .seo-tecnico-container07 {
    height: auto;
  }
  .seo-tecnico-text19 {
    font-size: 3em;
    text-align: left;
    line-height: 60px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .seo-tecnico-navlink3 {
    align-self: flex-start;
  }
  .seo-tecnico-text24 {
    font-family: Josefin Sans;
  }
  .seo-tecnico-container20 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .seo-tecnico-container21 {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .seo-tecnico-text26 {
    color: var(--dl-color-gray-black);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
  }
  .seo-tecnico-container23 {
    padding-left: 0px;
  }
  .seo-tecnico-container26 {
    width: 100%;
  }
  .seo-tecnico-text27 {
    height: auto;
    align-self: flex-start;
  }
  .seo-tecnico-container29 {
    width: 100%;
  }
  .seo-tecnico-text28 {
    height: auto;
    font-size: 22px;
    align-self: flex-start;
  }
  .seo-tecnico-container32 {
    width: 100%;
  }
  .seo-tecnico-text29 {
    height: auto;
    align-self: flex-start;
  }
  .seo-tecnico-container35 {
    width: 100%;
  }
  .seo-tecnico-text30 {
    height: auto;
    align-self: flex-start;
  }
  .seo-tecnico-container38 {
    width: 100%;
  }
  .seo-tecnico-text31 {
    height: auto;
    align-self: flex-start;
  }
  .seo-tecnico-container41 {
    width: 100%;
  }
  .seo-tecnico-text32 {
    height: auto;
    align-self: flex-start;
  }
  .seo-tecnico-container44 {
    width: 100%;
  }
  .seo-tecnico-text33 {
    height: auto;
    align-self: flex-start;
  }
  .seo-tecnico-container47 {
    width: 100%;
  }
  .seo-tecnico-text34 {
    height: auto;
    align-self: flex-start;
  }
  .seo-tecnico-text35 {
    font-family: Josefin Sans;
  }
  .seo-tecnico-container48 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .seo-tecnico-image {
    height: 335px;
  }
  .seo-tecnico-container49 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .seo-tecnico-title {
    font-size: 32px;
    align-self: center;
    text-align: right;
    line-height: 41px;
  }
  .seo-tecnico-text36 {
    font-size: 32px;
    line-height: 41px;
  }
  .seo-tecnico-text37 {
    font-size: 32px;
    line-height: 41px;
  }
  .seo-tecnico-button {
    align-items: center;
  }
  .seo-tecnico-text38 {
    font-family: Josefin Sans;
  }
  .seo-tecnico-icon30 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: var(--dl-size-size-small);
  }
}
