.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-interactive-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-interactive-navlink {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-navlink:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-navlink1 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink1:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink2 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink2:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink3 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink3:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}


.navbar-interactive-root-class-name3 {
  width: 100%;
}
.navbar-interactive-root-class-name4 {
  width: 100%;
}
.navbar-interactive-root-class-name5 {
  width: 100%;
}
.navbar-interactive-root-class-name6 {
  width: 100%;
}
.navbar-interactive-root-class-name7 {
  width: 100%;
}
.navbar-interactive-root-class-name8 {
  width: 100%;
}
.navbar-interactive-root-class-name9 {
  width: 100%;
}
.navbar-interactive-root-class-name10 {
  width: 100%;
}
.navbar-interactive-root-class-name11 {
  width: 100%;
}
.navbar-interactive-root-class-name12 {
  width: 100%;
}
.navbar-interactive-root-class-name13 {
  width: 100%;
}
.navbar-interactive-root-class-name14 {
  width: 100%;
}
.navbar-interactive-root-class-name15 {
  width: 100%;
}
@media(max-width: 991px) {
  .navbar-interactive-navbar-interactive {
    width: 990px;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    width: 766px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-container {
    z-index: 1;
    position: fixed;
  }
  .navbar-interactive-navbar-interactive {
    width: 470px;
    padding: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    padding-right: 16px;
    background-color: var(--dl-color-gray-white);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-nav2 {
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navbar-interactive-navlink5 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink6 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink7 {
    font-size: 2em;
    text-align: right;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: 120px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}
.footer-text01 {
  padding-right: var(--dl-space-space-fiveunits);
}
.footer-navlink {
  display: contents;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.footer-text02 {
  color: var(--dl-color-primary-100);
  width: 100%;
  font-size: 28px;
  font-style: italic;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 18px;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text03 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text04 {
  width: auto;
  font-style: normal;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text05 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-text06 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text07 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text08 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text09 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text10 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text11 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text12 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text13 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text14 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Josefin Sans;
  line-height: 21px;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name2 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name3 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name4 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name5 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name7 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name8 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name9 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name10 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name11 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name12 {
  margin-top: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    margin-bottom: var(--dl-space-space-fourunits);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .footer-information {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-bottom: -20px;
  }
  .footer-text01 {
    margin-top: -10px;
    margin-bottom: -30px;
  }
  .footer-text02 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer-container {
    width: 50%;
    flex-direction: row;
  }
  .footer-container1 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container2 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container3 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: flex;
  }
  .footer-root-class-name {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name2 {
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name7 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name8 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name9 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name10 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name11 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
}

.seo-internacional-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.seo-internacional-hero {
  gap: var(--dl-space-space-threeunits);
  color: var(--dl-color-gray-black);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-green);
  border-width: 2px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-gray-white);
}
.seo-internacional-container01 {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.seo-internacional-content {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.seo-internacional-text {
  color: var(--dl-color-gray-black);
  font-size: 5em;
  font-style: normal;
  font-weight: 700;
}
.seo-internacional-text01 {
  color: var(--dl-color-primary-green);
  font-size: 3em;
  margin-top: -20px;
  margin-bottom: 20px;
}
.seo-internacional-text02 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
  margin-top: -20px;
}
.seo-internacional-navlink {
  color: var(--dl-color-gray-white);
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  border-color: var(--dl-color-primary-green);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-internacional-text03 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-internacional-text03:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-internacional-icon {
  width: 24px;
  height: 24px;
}
.seo-internacional-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.seo-internacional-container03 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.seo-internacional-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-internacional-container05 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.seo-internacional-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-text04 {
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
}
.seo-internacional-text06 {
  color: var(--dl-color-primary-green);
}
.seo-internacional-container07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.seo-internacional-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-internacional-container09 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-green);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-internacional-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-internacional-icon02 {
  fill: var(--dl-color-primary-green);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-internacional-text08 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-text09 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-internacional-container12 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-green);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-internacional-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-internacional-icon04 {
  fill: var(--dl-color-primary-green);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-internacional-text10 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-text11 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-internacional-container15 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-green);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-internacional-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-internacional-icon06 {
  fill: var(--dl-color-primary-green);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-internacional-text12 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-text13 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.seo-internacional-container18 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-primary-green);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.seo-internacional-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.seo-internacional-icon08 {
  fill: var(--dl-color-primary-green);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.seo-internacional-text14 {
  font-size: 2rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-text15 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-mission {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 90px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 90px;
  background-color: var(--dl-color-primary-green);
}
.seo-internacional-text16 {
  color: rgb(18, 40, 33);
  font-size: 40px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px;
}
.seo-internacional-text18 {
  color: var(--dl-color-gray-white);
}
.seo-internacional-text19 {
  color: var(--dl-color-gray-black);
}
.seo-internacional-text20 {
  font-size: 22px;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-navlink1 {
  color: var(--dl-color-gray-white);
  display: flex;
  transition: 0.3s;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-internacional-text26 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-internacional-text26:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-internacional-icon10 {
  width: 24px;
  height: 24px;
}
.seo-internacional-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.seo-internacional-container21 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.seo-internacional-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.seo-internacional-text27 {
  color: var(--dl-color-primary-green);
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.seo-internacional-text28 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}
.seo-internacional-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.seo-internacional-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-internacional-container25 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-icon12 {
  fill: var(--dl-color-primary-green);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-internacional-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-text29 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-internacional-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-internacional-container28 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-icon14 {
  fill: var(--dl-color-primary-green);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-internacional-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-text30 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-internacional-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-internacional-container31 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-icon16 {
  fill: var(--dl-color-primary-green);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-internacional-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-text31 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-internacional-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-internacional-container34 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-icon18 {
  fill: var(--dl-color-primary-green);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-internacional-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-text32 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-internacional-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-internacional-container37 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-icon20 {
  fill: var(--dl-color-primary-green);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-internacional-container38 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-text33 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-internacional-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.seo-internacional-container40 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-icon22 {
  fill: var(--dl-color-primary-green);
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.seo-internacional-container41 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-text34 {
  width: 100%;
  font-size: 22px;
  text-align: left;
}
.seo-internacional-navlink2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  border-color: var(--dl-color-primary-green);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-internacional-text35 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-internacional-text35:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-internacional-icon24 {
  fill: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
}
.seo-internacional-container42 {
  flex: 0 0 auto;
  width: 40%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-image {
  width: 100%;
  height: 620px;
  object-fit: cover;
}
.seo-internacional-banner {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.seo-internacional-container43 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  border-color: var(--dl-color-gray-black);
  border-width: 5px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-primary-green);
}
.seo-internacional-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.seo-internacional-title {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 4em;
  max-width: 800px;
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-weight: 700;
  line-height: 46px;
}
.seo-internacional-button {
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.seo-internacional-text38 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  transition: 0.3s;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-halfunit);
}
.seo-internacional-text38:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.seo-internacional-icon26 {
  fill: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
}
.seo-internacional-container45 {
  display: contents;
}
@media(max-width: 991px) {
  .seo-internacional-hero {
    gap: var(--dl-space-space-threeunits);
    height: auto;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .seo-internacional-mission {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .seo-internacional-text16 {
    font-size: 18px;
    text-align: center;
    line-height: 23px;
  }
  .seo-internacional-banner {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .seo-internacional-mission {
    align-items: center;
  }
}
@media(max-width: 479px) {
  .seo-internacional-hero {
    height: auto;
    max-width: auto;
    justify-content: flex-end;
  }
  .seo-internacional-container01 {
    width: 100%;
  }
  .seo-internacional-content {
    height: auto;
  }
  .seo-internacional-text {
    font-size: 3em;
  }
  .seo-internacional-navlink {
    align-self: flex-start;
  }
  .seo-internacional-text03 {
    font-family: Josefin Sans;
  }
  .seo-internacional-container02 {
    height: auto;
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .seo-internacional-container03 {
    flex-direction: column;
  }
  .seo-internacional-container05 {
    width: 420px;
  }
  .seo-internacional-container07 {
    height: auto;
  }
  .seo-internacional-text16 {
    font-size: 3em;
    text-align: left;
    line-height: 60px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .seo-internacional-navlink1 {
    align-self: flex-start;
  }
  .seo-internacional-text26 {
    font-family: Josefin Sans;
  }
  .seo-internacional-container20 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .seo-internacional-container21 {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .seo-internacional-text28 {
    color: var(--dl-color-gray-black);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
  }
  .seo-internacional-container23 {
    padding-left: 0px;
  }
  .seo-internacional-container26 {
    width: 100%;
  }
  .seo-internacional-text29 {
    height: auto;
    align-self: flex-start;
  }
  .seo-internacional-container29 {
    width: 100%;
  }
  .seo-internacional-text30 {
    height: auto;
    align-self: flex-start;
  }
  .seo-internacional-container32 {
    width: 100%;
  }
  .seo-internacional-text31 {
    height: auto;
    font-size: 22px;
    align-self: flex-start;
  }
  .seo-internacional-container35 {
    width: 100%;
  }
  .seo-internacional-text32 {
    height: auto;
    align-self: flex-start;
  }
  .seo-internacional-container38 {
    width: 100%;
  }
  .seo-internacional-text33 {
    height: auto;
    align-self: flex-start;
  }
  .seo-internacional-container41 {
    width: 100%;
  }
  .seo-internacional-text34 {
    height: auto;
    align-self: flex-start;
  }
  .seo-internacional-text35 {
    font-family: Josefin Sans;
  }
  .seo-internacional-container42 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .seo-internacional-image {
    height: 335px;
  }
  .seo-internacional-container43 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .seo-internacional-title {
    font-size: 32px;
    align-self: center;
    text-align: right;
    line-height: 41px;
  }
  .seo-internacional-text36 {
    font-size: 32px;
    line-height: 41px;
  }
  .seo-internacional-text37 {
    font-size: 32px;
    line-height: 41px;
  }
  .seo-internacional-button {
    align-items: center;
  }
  .seo-internacional-text38 {
    font-family: Josefin Sans;
  }
  .seo-internacional-icon26 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: var(--dl-size-size-small);
  }
}
