.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-interactive-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-interactive-navlink {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-navlink:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-navlink1 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink1:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink2 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink2:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-navlink3 {
  font-size: 18px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-navlink3:hover {
  color: var(--dl-color-primary-100);
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-navlink4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}


.navbar-interactive-root-class-name3 {
  width: 100%;
}
.navbar-interactive-root-class-name4 {
  width: 100%;
}
.navbar-interactive-root-class-name5 {
  width: 100%;
}
.navbar-interactive-root-class-name6 {
  width: 100%;
}
.navbar-interactive-root-class-name7 {
  width: 100%;
}
.navbar-interactive-root-class-name8 {
  width: 100%;
}
.navbar-interactive-root-class-name9 {
  width: 100%;
}
.navbar-interactive-root-class-name10 {
  width: 100%;
}
.navbar-interactive-root-class-name11 {
  width: 100%;
}
.navbar-interactive-root-class-name12 {
  width: 100%;
}
.navbar-interactive-root-class-name13 {
  width: 100%;
}
.navbar-interactive-root-class-name14 {
  width: 100%;
}
.navbar-interactive-root-class-name15 {
  width: 100%;
}
@media(max-width: 991px) {
  .navbar-interactive-navbar-interactive {
    width: 990px;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    width: 766px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-container {
    z-index: 1;
    position: fixed;
  }
  .navbar-interactive-navbar-interactive {
    width: 470px;
    padding: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    padding-right: 16px;
    background-color: var(--dl-color-gray-white);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-interactive-icon {
    width: auto;
    height: 24px;
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-nav2 {
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navbar-interactive-navlink5 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink6 {
    font-size: 2em;
    text-align: right;
  }
  .navbar-interactive-navlink7 {
    font-size: 2em;
    text-align: right;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: 120px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}
.footer-text01 {
  padding-right: var(--dl-space-space-fiveunits);
}
.footer-navlink {
  display: contents;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.footer-text02 {
  color: var(--dl-color-primary-100);
  width: 100%;
  font-size: 28px;
  font-style: italic;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 18px;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text03 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text04 {
  width: auto;
  font-style: normal;
  font-family: Josefin Sans;
  font-weight: 700;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text05 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-text06 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text07 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text08 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text09 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text10 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text11 {
  width: auto;
  font-family: Josefin Sans;
  font-weight: bold;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text12 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text13 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text14 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Josefin Sans;
  line-height: 21px;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name2 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name3 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name4 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name5 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name7 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name8 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name9 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name10 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name11 {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name12 {
  margin-top: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 1px;
    margin-bottom: var(--dl-space-space-fourunits);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .footer-information {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-bottom: -20px;
  }
  .footer-text01 {
    margin-top: -10px;
    margin-bottom: -30px;
  }
  .footer-text02 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer-container {
    width: 50%;
    flex-direction: row;
  }
  .footer-container1 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container2 {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-container3 {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: flex;
  }
  .footer-root-class-name {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name2 {
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name7 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name8 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name9 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name10 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
  .footer-root-class-name11 {
    width: 100%;
    margin-top: var(--dl-space-space-sixunits);
  }
}

.sobre-mi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sobre-mi-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sobre-mi-container02 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-100);
}
.sobre-mi-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 500px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.sobre-mi-text {
  font-size: 150px;
  text-align: left;
}
.sobre-mi-text02 {
  color: var(--dl-color-gray-white);
}
.sobre-mi-text03 {
  font-size: 20px;
}
.sobre-mi-icon {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-twounits);
  align-self: flex-end;
}
.sobre-mi-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.sobre-mi-container05 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sobre-mi-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.sobre-mi-icon02 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.sobre-mi-text14 {
  font-size: 4rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-text15 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-container07 {
  display: flex;
  position: relative;
}
.sobre-mi-navlink {
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.sobre-mi-text16 {
  transition: 0.3s;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-halfunit);
}
.sobre-mi-text16:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.sobre-mi-icon04 {
  width: 24px;
  height: 24px;
}
.sobre-mi-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.sobre-mi-container09 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sobre-mi-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.sobre-mi-icon06 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.sobre-mi-text17 {
  font-size: 4em;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-text18 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.sobre-mi-container12 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sobre-mi-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.sobre-mi-icon08 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.sobre-mi-text19 {
  font-size: 4rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-text20 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-container14 {
  display: flex;
  position: relative;
}
.sobre-mi-navlink1 {
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.sobre-mi-text21 {
  transition: 0.3s;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-halfunit);
}
.sobre-mi-text21:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.sobre-mi-icon10 {
  width: 24px;
  height: 24px;
}
.sobre-mi-navlink2 {
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.sobre-mi-text22 {
  transition: 0.3s;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-halfunit);
}
.sobre-mi-text22:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.sobre-mi-icon12 {
  width: 24px;
  height: 24px;
}
.sobre-mi-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.sobre-mi-container16 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sobre-mi-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.sobre-mi-icon14 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.sobre-mi-text23 {
  font-size: 4rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-text24 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: flex-start;
}
.sobre-mi-container19 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sobre-mi-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.sobre-mi-icon16 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-left: -25px;
}
.sobre-mi-text25 {
  font-size: 4rem;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.sobre-mi-text26 {
  font-size: 22px;
  padding-left: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
@media(max-width: 479px) {
  .sobre-mi-container01 {
    margin-top: 0px;
    padding-top: 0px;
  }
  .sobre-mi-container02 {
    width: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .sobre-mi-text {
    font-size: 4rem;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobre-mi-text14 {
    font-size: 2rem;
  }
  .sobre-mi-text17 {
    font-size: 2rem;
  }
  .sobre-mi-text19 {
    font-size: 2rem;
  }
  .sobre-mi-container14 {
    flex-direction: column;
  }
  .sobre-mi-navlink1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .sobre-mi-navlink2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .sobre-mi-text23 {
    font-size: 2rem;
  }
  .sobre-mi-text25 {
    font-size: 2rem;
  }
}
