.app-component-container {
  display: flex;
  position: relative;
}
.app-component-button {
  display: flex;
  transition: 0.3s;
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.app-component-text {
  transition: 0.3s;
  padding-right: var(--dl-space-space-halfunit);
}
.app-component-text:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.app-component-icon {
  width: 24px;
  height: 24px;
}
