.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}
.footer-text1 {
  padding-right: var(--dl-space-space-fiveunits);
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-text2 {
  color: var(--dl-color-primary-100);
  width: 100%;
  font-size: 28px;
  font-style: italic;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 18px;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text3 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text4 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-text5 {
  width: auto;
  max-width: 100%;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-text6 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-text7 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.footer-text8 {
  width: auto;
  font-family: Josefin Sans;
  padding-right: var(--dl-space-space-threeunits);
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Josefin Sans;
  line-height: 21px;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}
.footer-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name2 {
  margin-top: var(--dl-space-space-fiveunits);
}
.footer-root-class-name3 {
  margin-top: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-container {
    height: 288px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-root-class-name {
    width: 100%;
  }
}
