<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <span class="footer-text"><span>¿quieres que hablemos?</span></span>
      <span class="footer-text1">
        <span>
          si quieres colaborar conmigo o simplemente tener una charla, estás a
          un clic!
        </span>
      </span>
      <a href="contacto.html" class="footer-navlink">
        <div class="footer-contact">
          <span class="footer-text2"><span>holi@fvalverde.com</span></span>
        </div>
      </a>
      <div class="footer-container">
        <a href="proyectos.html" class="footer-text3 link">
          <span>proyectos</span>
        </a>
        <a href="genially.html" class="footer-text4 link">
          <span>genially</span>
        </a>
        <a href="marca-de-belleza.html" class="footer-text5 link">
          <span>bank of america</span>
        </a>
        <a href="bank-of-america.html" class="footer-text6 link">
          <span>{marca de belleza}</span>
        </a>
        <a href="sobre-mi.html" class="footer-text7 link">
          <span>sobre mi</span>
        </a>
        <a href="contacto.html" class="footer-text8 link">
          <span>contacto</span>
        </a>
      </div>
      <span class="footer-copyright">
        <span>©2022 Product Calgary. All Rights Reserved.</span>
      </span>
    </div>
  </footer>
</div>
