<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <span class="footer-text"><span>¿quieres que hablemos?</span></span>
      <span class="footer-text1">
        <span>
          si quieres colaborar conmigo o simplemente tener una charla, estás a
          un clic!
        </span>
      </span>
      <a href="contacto.html" class="footer-navlink">
        <div class="footer-contact">
          <svg viewBox="0 0 1024 1024" class="footer-icon">
            <path
              d="M512 640q52 0 90-38t38-90-38-90-90-38-90 38-38 90 38 90 90 38zM512 86q176 0 301 125t125 301v62q0 64-43 108t-105 44q-78 0-126-64-64 64-152 64t-151-63-63-151 63-151 151-63 151 63 63 151v62q0 26 19 46t45 20 45-20 19-46v-62q0-140-101-241t-241-101-241 101-101 241 101 241 241 101h214v84h-214q-176 0-301-125t-125-301 125-301 301-125z"
            ></path>
          </svg>
          <span class="footer-text2"><span>holi@fvalverde.com</span></span>
        </div>
      </a>
      <div class="footer-container">
        <a href="proyectos.html" class="footer-text3 link">
          <span>proyectos</span>
        </a>
        <a href="genially.html" class="footer-text4 link">
          <span>genially</span>
        </a>
        <a href="marca-de-belleza.html" class="footer-text5 link">
          <span>bank of america</span>
        </a>
        <a href="bank-of-america.html" class="footer-text6 link">
          <span>{marca de belleza}</span>
        </a>
        <a href="sobre-mi.html" class="footer-text7 link">
          <span>sobre mi</span>
        </a>
        <a href="contacto.html" class="footer-text8 link">
          <span>contacto</span>
        </a>
      </div>
      <span class="footer-copyright">
        <span>©2022 Product Calgary. All Rights Reserved.</span>
      </span>
    </div>
  </footer>
</div>
