<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <span class="footer-text"><span>¿quieres que hablemos?</span></span>
      <span class="footer-text01">
        <span>
          si quieres colaborar conmigo o simplemente tener una charla, estás a
          un clic!
        </span>
      </span>
      <a href="contacto.html" class="footer-navlink">
        <div class="footer-contact">
          <span class="footer-text02"><span>holi@fvalverde.com</span></span>
        </div>
      </a>
      <div class="footer-container">
        <div class="footer-container1">
          <span class="footer-text03 link"><span>servicios</span></span>
          <a href="keyword-research.html" class="footer-text04 link">
            <span>keyword research</span>
          </a>
          <a href="arquitectura-web.html" class="footer-text05 link">
            <span>arquitectura web</span>
          </a>
          <a href="seo-tecnico.html" class="footer-text06 link">
            <span>SEO técnico</span>
          </a>
          <a href="migracion-web.html" class="footer-text07 link">
            <span>migración web</span>
          </a>
          <a href="seo-internacional.html" class="footer-text08 link">
            <span>SEO internacional</span>
          </a>
        </div>
        <div class="footer-container2">
          <a href="proyectos.html" class="footer-text09 link">
            <span>proyectos</span>
          </a>
          <a href="genially.html" class="footer-text10 link">
            <span>genially</span>
          </a>
          <a href="marca-de-belleza.html" class="footer-text11 link">
            <span>bank of america</span>
          </a>
          <a href="bank-of-america.html" class="footer-text12 link">
            <span>{marca de belleza}</span>
          </a>
          <a href="sobre-mi.html" class="footer-text13 link">
            <span>sobre mi</span>
          </a>
          <a href="contacto.html" class="footer-text14 link">
            <span>contacto</span>
          </a>
        </div>
      </div>
      <span class="footer-copyright">
        <span>©2023 All Rights Reserved.</span>
      </span>
    </div>
  </footer>
</div>
