.teaser-derecho-teaser-derecho {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.teaser-derecho-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.teaser-derecho-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teaser-derecho-image {
  width: 70%;
  margin-top: -90px;
  object-fit: cover;
}
.teaser-derecho-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.teaser-derecho-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.teaser-derecho-text3 {
  font-size: 1.3rem;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.teaser-derecho-button {
  display: flex;
  transition: 0.3s;
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  flex-direction: row;
  background-color: transparent;
  border-left-width: 0px;
  border-right-width: 0px;
}

.teaser-derecho-text4 {
  transition: 0.3s;
  padding-right: var(--dl-space-space-halfunit);
}
.teaser-derecho-text4:hover {
  color: var(--dl-color-gray-500);
  padding-right: var(--dl-space-space-unit);
}
.teaser-derecho-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .teaser-derecho-teaser-derecho {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .teaser-derecho-teaser-derecho {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .teaser-derecho-container {
    align-self: center;
    grid-template-columns: 1fr;
  }
  .teaser-derecho-text {
    font-style: normal;
    font-weight: 600;
  }
  .teaser-derecho-text2 {
    font-style: normal;
    font-weight: 600;
  }
}
